.venv/
data/
.data
!data/company/.gitkeep
!data/market/.gitkeep
!data/news/.gitkeep
!data/ohlc/.gitkeep
!data/ohlc_remain/.gitkeep
!data/news_remain/.gitkeep
__pycache__/
.airflow_venv
.airflow_win
.airflow